http:
  middlewares:
    security-headers:
      headers:
        forceSTSHeader: true
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        contentTypeNosniff: true
        frameDeny: true

    rate-limit:
      rateLimit:
        average: 100
        burst: 50

    basic-auth:
      basicAuth:
        users:
          - "${TRAEFIK_DASHBOARD_AUTH}"

tls:
  certificates:
    - certFile: /certs/localhost.pem
      keyFile: /certs/localhost-key.pem
